# Arquivos de ambiente e senhas (CRÍTICO!)
.env
.streamlit/secrets.toml
secrets.toml

# Pastas de lixo do Python
__pycache__/
*.pyc

# Ambiente Virtual (se estiver na pasta do projeto)
venv/
.venv/
env/

# Banco de dados local (se ainda tiver sobras)
*.db
*.sqlite3